@layer component {
  @scope (.button) {
    :scope {
      display: inline-grid;
      place-content: center;
      gap: calc(var(--space) * 2);
      background-color: yellow;
      color: black;
      height: calc(var(--space) * 10);
      /* TODO: Gucken wie ich das am besten überschreiben würde */
      padding: calc(var(--space) * 2);
    }

    :scope.hug {
      width: auto;
    }

    :scope.default {
      width: 6rem;
    }

    :scope.double {
      width: 12rem;
    }
  }
}
