@layer reset, base, component;

@layer reset {
  :root {
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    overflow-wrap: break-word;
    word-break: break-word;
    font-synthesis: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* TODO: move / cleanup / rethink */
    --color-white: #ffffff;
    --color-black: #222222;

    --focus-visible-outline-width: 2px;
    --focus-visible-outline-color--light: var(--color-black);
    --focus-visible-outline-color--dark: var(--color-white);
  }

  body {
    min-height: 100vh;
    /* Set default font-size with defaul value here, just to be clear but maybe i should remove it. */
    /* font-size: 16px; */
  }

  * {
    /* TODO: The font setup could need some improvement. Can't I solve things without * selector? */
    /*
      Always inherit the font, to use those defined in the project.
      At least input, button, textarea, select need this.
    */
    font: inherit;

    /* Remove any paddings and margins */
    margin: 0;
    padding: 0;

    /* Remove any border and by default use border-box as box-sizing value */
    border: none;
    box-sizing: border-box;

    /* Always inherit background to remove styles like standard button background colors */
    background: inherit;

    /* By default no text selection, for app-like feeling */
    user-select: none;

    /* Remove all text decorations (could be enough to remove it from <a>) */
    text-decoration: none;
  }

  /* TODO: Decide about how to display the border or if at all / conditionally (screen reader)? */
  *:focus-visible {
    outline-width: var(--focus-visible-outline-width);
    outline-offset: 0px;
    outline-style: solid;
  }

  @media (prefers-color-scheme: light) {
    *:focus-visible {
      outline-color: var(--focus-visible-outline-color--light);
    }
  }

  @media (prefers-color-scheme: dark) {
    *:focus-visible {
      outline-color: var(--focus-visible-outline-color--dark);
    }
  }

  input:focus-visible {
    outline: unset;
  }

  /* Wondering why this is not default already. TODO: Should check if cursor changes on disabled button */
  button {
    cursor: pointer;
  }

  /* By default inputs don't scale, have a outline and a browser defined background color */
  input {
    width: 100%;
    /* TODO: Still required, cause its rather on foucs-visible's behave */
    outline: none;
    /* TODO: What about inherit? */
    background-color: transparent;
  }

  /*
    For semantic and a11y reasons standard list elements are used quite often but mostly we don't
    wan't the list markers. In cases where they are wanted, the list styles should take up space,
    hence `list-style-position: inside`.
  */
  ul,
  ol {
    list-style-position: inside;
    list-style-type: none;
  }

  img,
  picture,
  video,
  svg {
    display: inline-grid;
    max-width: 100%;
  }

  a:active,
  a:hover,
  a:visited {
    color: initial;
  }

  a:not([draggable]),
  img:not([draggable]),
  audio:not([draggable]),
  video:not([draggable]),
  input:not([draggable]),
  textarea:not([draggable]),
  link:not([draggable]),
  button:not([draggable]) {
    -webkit-user-drag: none;
    touch-action: none;
  }
}
